USE [master]
GO
/****** Object:  Database [Hayvanat_Bahcesi_db]    Script Date: 16.05.2025 15:53:07 ******/
CREATE DATABASE [Hayvanat_Bahcesi_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hayvanat_Bahcesi_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hayvanat_Bahcesi_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hayvanat_Bahcesi_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hayvanat_Bahcesi_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hayvanat_Bahcesi_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hayvanat_Bahcesi_db]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BiletTablo]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_BiletTablo] ()
returns @Biletlerr table (
    Bilet_id int,
    Ziyaretçi_id int,
    Bilet_fiyat decimal(6,2)
)
as
begin
    insert into @Biletlerr (Bilet_id, Ziyaretçi_id, Bilet_fiyat)
    select Bilet_id, Ziyaretçi_id, Bilet_fiyat from Biletler;
	return;
end;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_BiletToplam]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_BiletToplam] ()
RETURNS DECIMAL(10, 2)
AS
BEGIN
    DECLARE @toplamFiyat DECIMAL(10, 2)
	SELECT @toplamFiyat = SUM(Bilet_fiyat)
    FROM Biletler;
	RETURN @toplamFiyat;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_HayvanToplam]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_HayvanToplam] ()
RETURNS int
AS
BEGIN
    DECLARE @toplamHayvan int
	SELECT @toplamHayvan = SUM(Hayvan_sayisi)
    FROM Hayvanlar;
	RETURN @toplamHayvan;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_İlaçTablo]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_İlaçTablo] ()
returns @İlaçlarr table (
    İlaç_id int,
    İlaç_ad varchar(100),
    Hayvan_id int
)
as
begin
    insert into @İlaçlarr (İlaç_id, İlaç_ad,Hayvan_id)
    select İlaç_id, İlaç_ad, Hayvan_id from İlaçlar;
	return;
end;
GO
/****** Object:  Table [dbo].[Ziyaretçiler]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ziyaretçiler](
	[Ziyaretçi_id] [int] IDENTITY(1,1) NOT NULL,
	[Ziyaretci_ad_soyad] [varchar](200) NOT NULL,
	[Giris_zamani] [datetime] NOT NULL,
	[Cikis_zamani] [datetime] NOT NULL,
 CONSTRAINT [PK__Ziyaretç__335399718D0B3EB3] PRIMARY KEY CLUSTERED 
(
	[Ziyaretçi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etkinlikler]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etkinlikler](
	[Etkinlik_id] [int] IDENTITY(1,1) NOT NULL,
	[Etkinlik_ad] [varchar](100) NOT NULL,
	[Başlangıç_tarih] [datetime] NOT NULL,
	[Bitiş_tarihi] [datetime] NOT NULL,
 CONSTRAINT [PK__Etkinlik__1F25E6C184F70C54] PRIMARY KEY CLUSTERED 
(
	[Etkinlik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[cross]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[cross]
AS
SELECT       dbo.Ziyaretçiler.*, dbo.Etkinlikler.*
FROM            dbo.Ziyaretçiler CROSS JOIN
                         dbo.Etkinlikler
GO
/****** Object:  Table [dbo].[Hayvanlar]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hayvanlar](
	[Hayvan_id] [int] IDENTITY(1,1) NOT NULL,
	[Tür] [nvarchar](100) NOT NULL,
	[Hayvan_sayisi] [int] NOT NULL,
	[Dişi_Sayısı] [int] NOT NULL,
	[Erkek_Sayısı] [int] NOT NULL,
	[Beslenme_program_id] [int] NOT NULL,
 CONSTRAINT [PK__Hayvanla__BF02DC8BE422898F] PRIMARY KEY CLUSTERED 
(
	[Hayvan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[İlaçlar]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[İlaçlar](
	[İlaç_id] [int] IDENTITY(1,1) NOT NULL,
	[İlaç_ad] [varchar](100) NOT NULL,
	[Hayvan_id] [int] NOT NULL,
 CONSTRAINT [PK__İlaçlar__908326B16F733CBC] PRIMARY KEY CLUSTERED 
(
	[İlaç_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[inner]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[inner]
AS
SELECT       dbo.Hayvanlar.*, dbo.İlaçlar.İlaç_ad, dbo.İlaçlar.İlaç_id
FROM            dbo.Hayvanlar INNER JOIN
                         dbo.İlaçlar ON dbo.Hayvanlar.Hayvan_id = dbo.İlaçlar.Hayvan_id
GO
/****** Object:  Table [dbo].[Beslenme]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beslenme](
	[Beslenme_program_id] [int] IDENTITY(1,1) NOT NULL,
	[Beslenme_Zamanı] [time](7) NOT NULL,
 CONSTRAINT [PK__Beslenme__28A7DB70BBFD8936] PRIMARY KEY CLUSTERED 
(
	[Beslenme_program_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[leftouter]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[leftouter]
AS
SELECT       dbo.Hayvanlar.*, dbo.Beslenme.Beslenme_Zamanı
FROM            dbo.Hayvanlar LEFT OUTER JOIN
                         dbo.Beslenme ON dbo.Hayvanlar.Beslenme_program_id = dbo.Beslenme.Beslenme_program_id
GO
/****** Object:  Table [dbo].[Yaşam_alanı]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yaşam_alanı](
	[Alan_id] [int] IDENTITY(1,1) NOT NULL,
	[Alan_adı] [varchar](100) NOT NULL,
	[Hayvan_id] [int] NOT NULL,
 CONSTRAINT [PK__Yaşam_al__9934F771C78EE5C3] PRIMARY KEY CLUSTERED 
(
	[Alan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[right]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[right]
AS
SELECT       dbo.Hayvanlar.*, dbo.Yaşam_alanı.Alan_adı
FROM            dbo.Hayvanlar RIGHT OUTER JOIN
                         dbo.Yaşam_alanı ON dbo.Hayvanlar.Hayvan_id = dbo.Yaşam_alanı.Hayvan_id
GO
/****** Object:  Table [dbo].[çalışma_saatleri]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[çalışma_saatleri](
	[csaat_id] [int] IDENTITY(1,1) NOT NULL,
	[Çalışan_id] [int] NOT NULL,
	[Başlangıç_saat] [time](7) NOT NULL,
	[Bitis_saat] [time](7) NOT NULL,
 CONSTRAINT [PK__çalışma___97D1C171D38676BE] PRIMARY KEY CLUSTERED 
(
	[csaat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Çalışanlar]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Çalışanlar](
	[Çalışan_id] [int] IDENTITY(1,1) NOT NULL,
	[Çalışan_Ad_Soyad] [nvarchar](200) NOT NULL,
	[Çalışan_Pozisyon] [nvarchar](100) NOT NULL,
	[Çalışan_Maaş] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK__Çalışanl__B8D5805CF7243EE8] PRIMARY KEY CLUSTERED 
(
	[Çalışan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[full]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[full]
AS
SELECT       dbo.Çalışanlar.*, dbo.çalışma_saatleri.csaat_id, dbo.çalışma_saatleri.Başlangıç_saat, dbo.çalışma_saatleri.Bitis_saat
FROM            dbo.Çalışanlar FULL OUTER JOIN
                         dbo.çalışma_saatleri ON dbo.Çalışanlar.Çalışan_id = dbo.çalışma_saatleri.Çalışan_id
GO
/****** Object:  Table [dbo].[Açılış_kapanış]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Açılış_kapanış](
	[Açılış_id] [int] IDENTITY(1,1) NOT NULL,
	[Gün] [nvarchar](10) NOT NULL,
	[Açılış_saati] [time](7) NOT NULL,
	[Kapanış_saati] [time](7) NOT NULL,
 CONSTRAINT [PK_Açılış_kapanış] PRIMARY KEY CLUSTERED 
(
	[Açılış_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biletler]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biletler](
	[Bilet_id] [int] IDENTITY(1,1) NOT NULL,
	[Ziyaretçi_id] [int] NOT NULL,
	[Bilet_fiyat] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK__Biletler__98F2AC4EB4DA7CE6] PRIMARY KEY CLUSTERED 
(
	[Bilet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[İlaçlarYedek]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[İlaçlarYedek](
	[İlaç_id] [int] IDENTITY(1,1) NOT NULL,
	[İlaç_ad] [varchar](100) NOT NULL,
	[Hayvan_id] [int] NOT NULL,
	[sistem_tarih] [datetime] NOT NULL,
	[atanan] [nvarchar](100) NOT NULL,
	[silinme] [bit] NOT NULL,
 CONSTRAINT [PK__İlaçlarY__908326B19AAC3379] PRIMARY KEY CLUSTERED 
(
	[İlaç_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Hayvanlar]    Script Date: 16.05.2025 15:53:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Hayvanlar] ON [dbo].[Hayvanlar]
(
	[Tür] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Açılış_kapanış] ADD  CONSTRAINT [DF_Açılış_kapanış_Açılış_saati]  DEFAULT ('08:00:00') FOR [Açılış_saati]
GO
ALTER TABLE [dbo].[Açılış_kapanış] ADD  CONSTRAINT [DF_Açılış_kapanış_Kapanış_saati]  DEFAULT ('23:50:00') FOR [Kapanış_saati]
GO
ALTER TABLE [dbo].[çalışma_saatleri] ADD  CONSTRAINT [DF_çalışma_saatleri_Bitis_saat]  DEFAULT ('23:50:00') FOR [Bitis_saat]
GO
ALTER TABLE [dbo].[Biletler]  WITH CHECK ADD  CONSTRAINT [FK_Biletler_Ziyaretçiler] FOREIGN KEY([Ziyaretçi_id])
REFERENCES [dbo].[Ziyaretçiler] ([Ziyaretçi_id])
GO
ALTER TABLE [dbo].[Biletler] CHECK CONSTRAINT [FK_Biletler_Ziyaretçiler]
GO
ALTER TABLE [dbo].[çalışma_saatleri]  WITH CHECK ADD  CONSTRAINT [FK_çalışma_saatleri_Çalışanlar] FOREIGN KEY([Çalışan_id])
REFERENCES [dbo].[Çalışanlar] ([Çalışan_id])
GO
ALTER TABLE [dbo].[çalışma_saatleri] CHECK CONSTRAINT [FK_çalışma_saatleri_Çalışanlar]
GO
ALTER TABLE [dbo].[Hayvanlar]  WITH CHECK ADD  CONSTRAINT [FK_Hayvanlar_Beslenme] FOREIGN KEY([Beslenme_program_id])
REFERENCES [dbo].[Beslenme] ([Beslenme_program_id])
GO
ALTER TABLE [dbo].[Hayvanlar] CHECK CONSTRAINT [FK_Hayvanlar_Beslenme]
GO
ALTER TABLE [dbo].[İlaçlar]  WITH CHECK ADD  CONSTRAINT [FK_İlaçlar_Hayvanlar] FOREIGN KEY([Hayvan_id])
REFERENCES [dbo].[Hayvanlar] ([Hayvan_id])
GO
ALTER TABLE [dbo].[İlaçlar] CHECK CONSTRAINT [FK_İlaçlar_Hayvanlar]
GO
ALTER TABLE [dbo].[Yaşam_alanı]  WITH CHECK ADD  CONSTRAINT [FK_Yaşam_alanı_Hayvanlar] FOREIGN KEY([Hayvan_id])
REFERENCES [dbo].[Hayvanlar] ([Hayvan_id])
GO
ALTER TABLE [dbo].[Yaşam_alanı] CHECK CONSTRAINT [FK_Yaşam_alanı_Hayvanlar]
GO
ALTER TABLE [dbo].[Hayvanlar]  WITH CHECK ADD  CONSTRAINT [CK_Hayvanlar] CHECK  (([Hayvan_sayisi]<(25)))
GO
ALTER TABLE [dbo].[Hayvanlar] CHECK CONSTRAINT [CK_Hayvanlar]
GO
/****** Object:  StoredProcedure [dbo].[deleteProcedure]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[deleteProcedure]
@Etkinlik_ad varchar(100)
as
begin
delete from Etkinlikler where Etkinlik_ad = @Etkinlik_ad
end
GO
/****** Object:  StoredProcedure [dbo].[insertProcedure]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertProcedure]
@Etkinlik_ad varchar(100),@Başlangıç_tarih datetime, @Bitiş_tarihi datetime
as
begin
insert into Etkinlikler(Etkinlik_ad, Başlangıç_tarih ,Bitiş_tarihi)
values(@Etkinlik_ad, @Başlangıç_tarih, @Bitiş_tarihi)
end
GO
/****** Object:  StoredProcedure [dbo].[updateProcedure]    Script Date: 16.05.2025 15:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[updateProcedure]
@Etkinlik_id int, @Etkinlik_ad varchar(100),@Başlangıç_tarih datetime, @Bitiş_tarihi datetime
as
begin
update Etkinlikler
set Etkinlik_ad = @Etkinlik_ad, Başlangıç_tarih = @Başlangıç_tarih, Bitiş_tarihi = @Bitiş_tarihi 
where Etkinlik_id = @Etkinlik_id
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[7] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Ziyaretçiler"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 226
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Etkinlikler"
            Begin Extent = 
               Top = 6
               Left = 264
               Bottom = 136
               Right = 434
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'cross'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'cross'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Çalışanlar"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 222
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "çalışma_saatleri"
            Begin Extent = 
               Top = 6
               Left = 260
               Bottom = 136
               Right = 430
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'full'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'full'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[10] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Hayvanlar"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "İlaçlar"
            Begin Extent = 
               Top = 6
               Left = 282
               Bottom = 119
               Right = 452
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'inner'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'inner'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[17] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Hayvanlar"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Beslenme"
            Begin Extent = 
               Top = 6
               Left = 282
               Bottom = 102
               Right = 488
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'leftouter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'leftouter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[13] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Hayvanlar"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Yaşam_alanı"
            Begin Extent = 
               Top = 6
               Left = 282
               Bottom = 119
               Right = 452
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'right'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'right'
GO
USE [master]
GO
